@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
li{
    display: inline;
    padding: 0px 5px 10x 5px;
    float: center;
}

a{
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
}