@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
H1{
text-align: center;
font-family: "Josefin Sans", sans-serif;
padding: 25PX;
font-size: 50px;
}

li{
    display: inline;
    padding: 0em 5em 10em 5em;
    float: right;
    font-size: 19px;
}

a{
    text-decoration: none;
}
a:{
    background-color:#A9A9A9;
    color: #FFF;
    font-size: 20PX;
}
./java script estilização/
#nome-usuário{
    font-weight: bold;    
}
body{
    background-color: black;
    color: #FFF;
}